In [ ]:
# Step 1: Load the Excel file 

#Load the data using pandas libary to load the csv file into data frame for analysis 
import pandas as pd

# Load the Excel file into a DataFrame
file_path = "/Users/jagadish/Desktop/Supply chain datasets/supply chain logisitcs problem.xlsx"
df = pd.read_excel(file_path)

# Display the first few rows of the DataFrame
print(df.head())

       Order ID Order Date Origin Port Carrier  TPT Service Level  \
0  1.447296e+09 2013-05-26      PORT09   V44_3    1           CRF
1  1.447158e+09 2013-05-26      PORT09   V44_3    1           CRF
2  1.447139e+09 2013-05-26      PORT09   V44_3    1           CRF
3  1.447364e+09 2013-05-26      PORT09   V44_3    1           CRF
4  1.447364e+09 2013-05-26      PORT09   V44_3    1           CRF

   Ship ahead day count  Ship Late Day count   Customer  Product ID  \
0                     3                    0  V55555_53     1700106
1                     3                    0  V55555_53     1700106
2                     3                    0  V55555_53     1700106
3                     3                    0  V55555_53     1700106
4                     3                    0  V55555_53     1700106

  Plant Code Destination Port  Unit quantity  Weight
0    PLANT16           PORT09            808   14.30
1    PLANT16           PORT09           3188   87.94
2    PLANT16           PORT09           2331   61.20
3    PLANT16           PORT09            847   16.16
4    PLANT16           PORT09           2163   52.34

In [7]:
# STEP 2: EXPLORE THE DATA

# Check the structure of the dataset
print(df.info())  #Data types and null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9215 entries, 0 to 9214
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order ID              9215 non-null   float64
 1   Order Date            9215 non-null   datetime64[ns]
 2   Origin Port           9215 non-null   object
 3   Carrier               9215 non-null   object
 4   TPT                   9215 non-null   int64
 5   Service Level         9215 non-null   object
 6   Ship ahead day count  9215 non-null   int64
 7   Ship Late Day count   9215 non-null   int64
 8   Customer              9215 non-null   object
 9   Product ID            9215 non-null   int64
 10  Plant Code            9215 non-null   object
 11  Destination Port      9215 non-null   object
 12  Unit quantity         9215 non-null   int64
 13  Weight                9215 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(6)
memory usage: 1008.0+ KB
None

In [8]:
# Summary Statistics 
print(df.describe())

           Order ID           Order Date          TPT  Ship ahead day count  \
count  9.215000e+03                 9215  9215.000000           9215.000000
mean   1.447274e+09  2013-05-26 00:00:00     1.717743              1.852306
min    1.447126e+09  2013-05-26 00:00:00     0.000000              0.000000
25%    1.447197e+09  2013-05-26 00:00:00     1.000000              0.000000
50%    1.447276e+09  2013-05-26 00:00:00     2.000000              3.000000
75%    1.447346e+09  2013-05-26 00:00:00     2.000000              3.000000
max    1.447425e+09  2013-05-26 00:00:00     4.000000              6.000000
std    8.381629e+04                  NaN     0.630500              1.922302

       Ship Late Day count    Product ID  Unit quantity       Weight
count          9215.000000  9.215000e+03    9215.000000  9215.000000
mean              0.039935  1.680536e+06    3202.747151    19.871688
min               0.000000  1.613321e+06     235.000000     0.000000
25%               0.000000  1.669702e+06     330.000000     1.407430
50%               0.000000  1.683636e+06     477.000000     4.440000
75%               0.000000  1.689554e+06    1275.500000    13.325673
max               6.000000  1.702654e+06  561847.000000  2338.405126
std               0.319625  1.526593e+04   15965.622260    66.569064

In [10]:
# Check for missing values 
print(df.isnull())

      Order ID  Order Date  Origin Port  Carrier    TPT  Service Level  \
0        False       False        False    False  False          False
1        False       False        False    False  False          False
2        False       False        False    False  False          False
3        False       False        False    False  False          False
4        False       False        False    False  False          False
...        ...         ...          ...      ...    ...            ...
9210     False       False        False    False  False          False
9211     False       False        False    False  False          False
9212     False       False        False    False  False          False
9213     False       False        False    False  False          False
9214     False       False        False    False  False          False

      Ship ahead day count  Ship Late Day count  Customer  Product ID  \
0                    False                False     False       False
1                    False                False     False       False
2                    False                False     False       False
3                    False                False     False       False
4                    False                False     False       False
...                    ...                  ...       ...         ...
9210                 False                False     False       False
9211                 False                False     False       False
9212                 False                False     False       False
9213                 False                False     False       False
9214                 False                False     False       False

      Plant Code  Destination Port  Unit quantity  Weight
0          False             False          False   False
1          False             False          False   False
2          False             False          False   False
3          False             False          False   False
4          False             False          False   False
...          ...               ...            ...     ...
9210       False             False          False   False
9211       False             False          False   False
9212       False             False          False   False
9213       False             False          False   False
9214       False             False          False   False

[9215 rows x 14 columns]

In [ ]:
# Step 3 : Clean the Data 

# Remove Duplicates
df = df.drop_duplicates()

# Fill or drop Missing Values
df = df.fillna(0)  # Meaning Replace NaN values with 0

# or
df= df.dropna() # Drop rows with NaN values